@using VendorTracker.Models;
@* @using Vendor.Controllers; *@

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Vendor</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
<h3>Vendor</h3>
<ol>
    @foreach(var order in @Model["orders"])
    {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.getDescription()</a></li>
    }
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add New Order</a></p>
<p><a href='/vendors'>Return to Vendor</a></p>
<p><a href='/'>Return to Homepage</a></p>
</body>
</html>